#header {
    padding: 40px;
    text-align: center;
}

#form-container {
    text-align: center;
    
}

#append-info {
    width: 70%;
    height: 700px; 
    background-color: purple;
    display: table;
    margin: 0 auto;
    
}
#info{
    overflow: scroll;
}

#search-bar {
    width: 70%; 
    overflow: hidden; 
    text-align: center;
    text-emphasis-color: black;
}
