#header {
    padding: 40px;
    text-align: center;
}

#form-container {
    text-align: center;
    
}

#search-bar {
    width: 70%; 
    overflow: hidden; 
    text-align: center;
    text-emphasis-color: black;
}

/* #columnContainer {
    background-color: bisque;
    width: 100%;
} */

#searches{
    /* background-color: aquamarine; */
    width: 50%;
    float: left;
}

#moreInfo{
    width: 50%;
    float: right;
}



