#header {
    padding: 40px;
    text-align: center;
}

#form-container {
    text-align: center;
    
}

#search-bar {
    width: 70%; 
    overflow: hidden; 
    text-align: center;
    text-emphasis-color: black;
}
/* 
#columnContainer {
    width: 100%;
    grid-row: 2;
    grid-column: 2;
    background-color: hsl(100, 80%, 80%);

    display: flex;
}
#box {
    width:45%;
    background-color:hotpink;
    color:#fff;
    float:right;
    border: solid;
}

#searches{
    background-color: aquamarine;
    width:33%;
    float: left;
    background-color: orange;
}

#moreInfo{
    width:33%;
    float: center;
    background-color: blue;
} */

.row{
    display: grid;
	grid-template-columns: 100px 150px 200px;
    text-align: center;
}

#column{
    padding: 16px;
	height: 250px;
	margin: 5px;
	background-color: #cccccc;
}
