#header {
    padding: 40px;
    text-align: center;
}

#form-container {
    text-align: center;
    
}

/* #append-info {
    width: 70%;
    height: 700px; 
    background-color: purple; 
    display: table;
    margin: 0 auto;
    
} */

#search-bar {
    width: 70%; 
    overflow: hidden; 
    text-align: center;
    text-emphasis-color: black;
}

#moreInfo{
    float: right;
    background-color: purple;
    width: 50%;
}

#info{
    float: left;
    background-color: aquamarine;
    width: 50%
}

#columnContainer {
    background-color: bisque;
}
